
:root{
    --grey:#fafbfcff;
    --blue:#0978f5 ;
    --gray2:#848d96;
    --greyText:#797d85;
    --gray3: #f1f4f7ff;
    
}

/*general*/
*{
    list-style-type: none;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-8{
    margin-bottom: 8px;
}
.mr-20{
    margin-right: 20px;
}
.fw-medium{
    font-weight: 500;
}
a{
    text-decoration: none;
}
.colorBlack{
    color:#000;
}
.colorGray{
    color: var(--greyText);
}
.colorBlue{
    color: var(--blue) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;900&display=swap');

body{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    letter-spacing: 0.075rem;
    font-weight: 400;
    line-height: 24px;
}
header,#services{
    color:#797d85;
}
.container{
    min-width:90% !important;
}

a{
    text-decoration: none;
}

nav{
    min-height: 70px;
}

.nav-link.active{
    color:#0978f5 !important;
}

.nav-link{
    font-size: 16px;
    font-weight:500;
    color:#797d85!important;
}

.nav-link:hover{
    color: #0978f5 !important;
}

header{
    padding: 230px 0px;
}

h1{
    color: #111724;
    font-size:48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
}

.header-text{
    width:100%;
    font-size: 18px;
    line-height: 27px;
}

#services{
    background-color: #FAFBFC;
    padding-top:80px;
}

.service{
    padding:50px 15px 50px 15px;
}

.service-icon{
    color:#0978f5;
    width:100px;
    height:100px;
    border: 2px solid #0978f5;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.75rem;
    font-weight: 900;
    margin:0 auto;
    margin-bottom:20px;
    
}

.service-title{
    color: #111724;
    margin-bottom:15px;
    font-weight:700;
    font-size:24px;

}


/* Pricing Section */
#pricing{
    padding: 120px 0px;
    background: var(--grey);

}
.pricingCont h2{
    margin-top: 20px;
    font-size: 44px;
    text-align: center;
}

.blueline{
    margin: 0px auto 80px auto ;
    width: 60px;
    border-bottom: 2px solid var(--blue);
    
}

.rowPricing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pricingCol{
    flex: 0 0 auto ;
    width: 100% ;
    padding:16px 12px;
}
.pricing-table{
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 3px 12px rgb(0 30 60 / 3%);
}
.pricing-title{
    padding: 48px 0px;
    font-size: 24px;
    color: var(--gray2);
}
.pricing-price-cont{
    text-align: center;
    font-weight: 700;
}
.pricing-price-cont p, h1,h2,h3,h4,ul{
    margin: 0;
    padding: 0;
}
.pricing-currency{
    font-size: 16px;
    vertical-align: 20px;
}
.pricing-price{
    font-size: 40px;
}
.pricing-table-content{
    padding: 48px 0px;
    color:var(--grey2)
}
.pricing-table-content li{
    margin-bottom: 20px;
}
.pricing-table-button{
    margin-top: 32px;
}
.pricing-table-button .btn{
    border-radius: 50px;
    padding: 12px 32px;
    transition: all 0.2s ease-in-out;
}

/* Footer */
footer{
    padding: 40px 0px;
    background-color: var(--gray3);
}
footer .widget{
    margin: 25px 0px;
}
.footerRowCont{
    margin: 0px 8px 0px 8px;
}
footer a{
    color: var(--greyText);
}
footer a:hover{
    color: #000;
}
.logoFooter{
    width: auto;
    max-height: 28px;
    font-size: 28px;
    font-weight: 500;
}
.footerInput{
    padding: 15px 20px;
    background: none;
}
.footerInput:focus{
    background: none;
    border: 1px solid var(--gray2) !important;
    border:none;
}
footer .input-group{
    position: relative;
  }
footer .inputBtn{
    position: absolute !important ;
    padding: 0px 30px ;
    height: 46px ;
    max-height: 46px ;
    right: 0 ;
    top: 50% ;
    transform: translateY(-50%) ;
    z-index: 100 !important ;
}
footer .input-group-btn{
  display: flex;
  align-items: center;
}

/*Button*/
.btn-circle{
    border-radius: 50%;
}
.toTopBtn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    z-index: 99;
    width: 52px;
    height: 52px;
    max-width: 52px !important;
    max-height: 52px !important;
    min-width: auto;
    vertical-align: middle;
}


@media (min-width: 768px){
    .pricingCol{
        flex: 0 0 auto !important;
        width: 33.33333333% !important;
    }
    footer{
        padding: 85px 0px;
    }
}
@media only screen and (min-width: 992px){
    .header-text{
        max-width:55%;
    }
    .pricingCont h2{
        font-size: 56px;
    }
}


